body{
    font-family: sans-serif;
    background: paleturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.game{
    text-align: center;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 5px;
    margin: 20px auto;
}
.cell{
    width: 150px;
    height: 150px;
    border: 2px solid palevioletred;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: palegoldenrod;
}
.cell:hover{
    background: palevioletred;
}