body{
    font-family: sans-serif;
    background: paleturquoise;
    height: 100vh;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}
.cell{
    width: 150px;
    height: 150px;
    border: 2px solid palevioletred;
    font-size: 2.5rem;

    cursor: pointer;
    background: palegoldenrod;
}
.cell:hover{
    background: palevioletred;
}